.App {
  margin: 2vh auto;
  text-align: center;
  width: 90vw;
  height: 85vh;
}

.App-header {
  background-color: #282c34;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

